@import "vars/index";
@import "typography/index";
@import "utils/index";

.bold-text {
    font-weight: bold;
}

.svg-badge {
    width: 9rem;
}



body {
    background: $main-dark;
}

main {
    background: #fff;
}

nav {
    ul {
        padding: 0;
        margin: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        list-style: none;

        li {
            font-size: 0.875rem;
            color: #b8b8bd;
            line-height: 0;
            text-align: center;
        }

        svg {
            width: 2.5rem;
        }
    }
}

.title-screen {
    .profile-picture {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background: white;
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 3rem;
        color: #fff;
    }

    p {
        font-size: 1.1rem;
        line-height: 0.4;
        color: #a1a1a5;
        margin-bottom: 3rem;
    }

    .call-to-action {
        margin-bottom: 3rem;
    }

    .primary-button {
        background: $main-light;
        width: 50%;
        line-height: 3.5rem;
        margin: 0 auto 0.6rem;
        font-size: 1.37rem;
        color: #fff;
        border-radius: 10px;

    }

    .secondary-button {
        background: #fff;
        width: 50%;
        margin: 0 auto;
        line-height: 3.5rem;
        font-size: 1.37rem;
        color: $main-dark;
        border-radius: 10px;
    }
}

.skills-section {
    padding: 2rem 0;

    h2 {
        margin: 5rem;
    }
    
    img {
    width: 9rem;
    margin-bottom: 2rem;
    }
    
}

.find-me {
    color: #999;

    p {
        margin-bottom: 2rem;
    }

    .platforms {
        margin-bottom: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        h3 {
            color: #bcc9ce;
        }

        li {
            flex: calc(100% / 2);
        }

        img {
            width: 4rem;
        }
    }
}

.card-container {
    .card {
        background: #ddd;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1.5rem;
        line-height: 1;
        max-width: 20rem;
    }
    
    .alt-card {
        max-width: 26rem;
        background: $main-light;
        margin-bottom: 1.5rem;
        padding: 1rem;
        line-height: 1;
        border-radius: 10px;
    }
    
    li:nth-child(odd) {
        align-self: flex-start;     
    }
    
    li:nth-child(even) {
        align-self: flex-end;
    }
}

.work-experience {
    padding: 2.25rem;
}

.education {
    padding: 2.25rem;
    background: #f4f1f4;
}

.contact-form {
    background: #fff;
    margin: 5rem 0 0;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.25rem;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        label {
            margin-left: 1.2rem;
            font-style: italic;
            font-weight: lighter;
            color: #6f6f6f;
        }

        input[type=text],
        input[type=email],
        textarea {
            border: 1px solid black;
            border-radius: 10px;
            padding: 0.5rem;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        button {
            background: #fb6470;
            width: 18.75rem;
            font-size: 1.37rem;
            padding: 0.5rem 0;
            color: white;
            border: none;
            border-radius: 10px;
        }
    }
}

.main-footer {
    padding: 4rem 0 2rem;
    background: #fff;
    p {
        font-size: 0.75rem;
        color: #585858;
        text-align: center;
        line-height: 0.6;
    }

    .alt-foot-text {
        color: #8d8d8d;
    }
}